

{%- comment -%}
https://shopify.dev/docs/themes/liquid/reference/objects/collection

{% render 'gallery-card', image1_url: 'collections-1-1.jpg', image1_alt="", image2_url: 'collections-1-2.webp', discount: "10% OFF SIDEWIDE! USE CODE: WINTER30 70% OFF SIDEWIDE!", title: "Hold on to this vibe tie dye Crop Top - Pink/combo", price: "$19.99 USD" %}
{% render 'gallery-card', image1: 'collections-2-1.jpg', image2: 'collections-2-2.jpg', discount: "10% OFF SIDEWIDE! USE CODE: SPRING21", title: "Grind Time Beyond Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio eos culpa dignissimos, laborum fuga, maxime enim recusandae, perferendis consectetur nam!", price: "$29.99 USD" %}

  FILTER BY TYPE
  {% for product_type in collection.all_types %}
  {{ product_type | link_to_type }}
  {% endfor %}
  {{ collection.tags }}
  {%- endcomment -%}
  
{% for product in collection.products %}
  {% assign images = product.media | where: "media_type", "image" %}
  {% render 'gallery-card', images: images, discount: "10% OFF SIDEWIDE! USE CODE: WINTER30 70% OFF SIDEWIDE!", product: product %}
{% endfor %}

  
  
  {%- comment -%}
  <div class="col" style="border: 1px solid black;">
    {% assign images = product.media | where: "media_type", "image" %}
    {% for image in images limit:2 %}
      <img src="{{ image | img_url: "small" }}" alt="{{ image.alt }}">
    {% endfor %}
   <div class="row" style="border: 1px solid orange;">
    {% for option in product.options %}
    <div class="col" style="border: 1px solid purple;">
      {{ option }}
    </div>
   {% endfor %}
  </div>
  </div>
  {% endfor %}
if option 1, then 2?
{%- endcomment -%}