{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}


    old div below
    <div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
{% endcomment %}

<div class="grid-view-item product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
{%- comment -%}
    {%- assign splitTitle = product.title | split: ' ' -%}
    {%- assign title = '' -%}
    {%- for word in splitTitle -%}
      {%- assign w = word | downcase -%}
      {%- assign w = w | capitalize -%}
      {%- assign w = w | concat: ' ' -%}
      {%- assign title = title | concat: w -%}
      {{ title }}
    {%- endfor -%}
{%- endcomment -%}
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}

    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
    {%- comment -%}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: x300 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
    {%- endcomment -%}

  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

  {%- comment -%}
  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}
  {%- endcomment -%}

</div>

{%- comment -%}
CUSTOMIZED FORM TO ADD TO CART
{%- endcomment -%}
<div class="product-card-grid-form-container">
  <form method="POST" class="product-card-grid-form">
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign price = current_variant.price | money -%}
    {% if current_variant.available %}
      <input type="hidden" class="item-quantity" name="quantity" min="1" value="1" max="1">
      {%- assign className = className | append: " active" -%}
    {% else %}
      <input type="hidden" class="item-quantity" name="quantity" min="0" max="0" value="0">
      <!-- {%- assign price = "&nbsp;" -%} -->
    {% endif %}
    <div class="product-card-grid-form__price">{{ price }}</div>
    <div class="form__option">
      {% assign colors = "" %}
      {% for variant in product.variants %}
        {% if colors != "" %}
          {% assign colors = colors | append: "," | append: variant["option2"] %}
        {% else %}
          {% assign colors = variant["option2"] %}  
        {% endif %}
      {% endfor %}
      {% assign colors = colors | split: "," | uniq %}
      {% for color in colors %}
        <div class="swatch{% if colors.first == color %} swatch--first swatch--active{% endif %}" style="{{ "background-color: " | append: color }}"></div>
      {% endfor %}
      <!-- {% assign colors = colors | split: "," | uniq | join: "," %}
      {{ colors }} -->
      <select name="selected" {% if product.has_only_default_variant %} single-variant {% endif %}>
        {% for variant in product.variants %}
          <!-- {%- assign max = variant.inventory_quantity -%} -->
          {%- assign max = 1 -%}
          <option value={{ variant.id }} {% unless variant.inventory_quantity > 0 %} disabled {% else %} max="{{ variant.inventory_quantity }}" {% endunless %}>{{ variant.options | join: " / " }} {{ max }}</option>
        {% endfor %}
      </select>
    </div>
    {%- assign className = "product-card-grid-form__submit bag-button" -%}
    <button type="submit" name="add" class="{{ className }}" {% unless current_variant.available %} disabled {% endunless %}>
      <span class="bag-button__text">Add to Bag</span>
      <i class="fa fa-chevron-down bag-button__icon" aria-hidden="true"></i>
    </button>
  </form>
</div>