
<div class="blog">
    <div class="blog__header-wrapper">
        <header class="blog__header">
            <span>{{ section.settings.title }}</span>
        </header>
    </div>

    <div class="cards-wrapper">
        <div class="cards container">
            <div class="row flex-column left-column">
                <div class="recent">
                    <h4>RECENT ARTICLES</h4>
                    {% for article in blog.articles limit:4%}

                    <a href="{{ article.url }}">
                        {{ article.title }}</a>
                    {%endfor%}

                </div>
                <div class="tags">
                    {% if blog.tags.size > 0 %}
                    <h4>Tags</h4>
                    {% for tag in blog.all_tags %}
                    <Link href="#">
                        <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
                    </Link>
                    {%endfor%}
                    {% endif %}
                </div>
            </div>
          


 <div class="cards__row row">
    
              {% comment%}
              {%endcomment%}
              {% for article in blog.articles %}
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        {% if article.image %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img alt="fashion" class="card__img" src="{{ article.image | img_url: '1024x768' }}"/>
                        {%endif%}
                        <span class="card__date">{{ article.published_at | time_tag: format:"date" }}</span>
                        <h1 class="card__title">{{ article.title | escape }}</h1>

                        {%- assign content = article.content -%}
                        <p class="card__content" >
                            {{ content }}
                            <a href="{{ article.url }}">
                             Read more
                            </a>
                        </p>
                    </div>           
                </div>
                {%endfor%}

                {% for block in section.blocks %}
                <div class="col-sm-12 col-md-12 col-lg-6">
          
                    <div class="card">
                        <img alt="fashion" class="card__img" src="{{ block.settings.article_image | img_url: '1024x768' }}"/>
                        <span class="card__date">{{ block.settings.article_date }}</span>
                        <h1 class="card__title">{{ block.settings.article_title }}</h1>
                        <p class="card__content" maxlength="10">
                            {{ block.settings.article_content }}
                          
          
                            <a href="/blogPage">
                               {{ block.settings.article_link_name }}
                            </a>
          
                        </p>
                    </div>
                   
                </div>
                {%endfor%}
            
            </div>
           
        </div>
        <div class="blog__pagination container">
            <hr/>
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
            </ul>
            <hr/>
        </div>
    </div>
</div>


{% schema %}
  {
    "name": "Blog",
    "class": "section-blog",
    "tag": "section",
    "settings": [
   
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Blog"
      }, 
      {
        "type": "range",
        "id": "font_size",
        "min": 12,
        "max": 18,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      }
      
    ],
    "blocks": [
        {
          "type": "Article",
          "name": "Article",
          "limit": 6,
          "settings": [
          {
            "id": "article_image",
            "type": "image_picker",
            "label": "Article image"
             
          },
          {
              "id": "article_date",
              "type": "text",
              "label": "Article date",
              "placeholder": "06 FEB, 2021"
              
          },
            {
              "id": "article_title",
              "type": "text",
              "label": "Article title",
              "default": "Add a title"
            },
            {
              "id": "article_content",
              "type": "textarea",
              "label": "Article content",
              "default": "Add content"
            },
            {
                "id": "article_link_name",
                "type": "text",
                "label": "Article link name",
                "default": "Read more"
            },
            {
             "id": "article_button_link",
              "type": "text",
              "label": "Article Link URL",
              "default": "#"
            }
           
          ]
        }
    ]
    
  }
{% endschema %}


