<section id="collections" class="collections">
  <div class="container-fluid collections__container">
    {% render 'breadcrumbs' %}
    <div class="container-fluid container-fluid--collections collections__modal" id="collections__modal">
      {%- comment -%}
        MODAL FILTER
      {%- endcomment -%}
      <i class="fa fa-times-circle collections__modal-close" id="collections__modal-close" aria-hidden="true"></i>
      {% render 'gallery-filter' %}
    </div>
    <div class="collections__top">
      <h1 class="collections__header">{{ collection.title }}</h1>
      <p class="collections__description">{{ collection.description }}</p>
      <p class="collections__read-more">Read more</p>
      <!-- <p class="res text-center">Words To Test</p> -->
    </div>
    <div class="row">
      {%- comment -%}
        FILTER
      {%- endcomment -%}
      <div class="d-none d-md-block col-md-3">
        <div class="container">
          {% render 'gallery-filter' %}
        </div>
      </div>
      {%- comment -%}
        GALLERY
      {%- endcomment -%}
      <div class="col-12 col-md-9 gallery">
        <div class="container">
          {% assign sort_by = "?sort_by=manual" %}
          <div class="row gallery__sorting">
            <div class="gallery__sorting-found col-12 col-md-6 order-1 order-md-0">{{ collection.products_count }} {{ collection.products_count | pluralize: 'result', 'results' }}</div>
            <div class="gallery__sorting-options sorting-options col-12 col-md-6 order-0 order-md-1">
              <div class="row sorting-options__row">
                <div class="col-6 col-md-0 col-lg-4 col-xl-6">
                  <div class="gallery__filter" id="gallery__filter">
                    <span class="gallery__filter-text">FILTER</span>
                    <i class="gallery__filter-icon fa fa-sliders" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-lg-8 col-xl-6 gallery__dropdown-container">
                  <select class="gallery__dropdown" id="gallery__dropdown" name="sort_by">
                    {% for option in collection.sort_options %}
                      <option value="?sort_by={{ option.value }}" {% if option.value == collection.sort_by %}selected{% assign sort_by = "?sort_by=" | append: option.value %}{% endif %}>{{ option.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>

          {%- comment -%}
          https://community.shopify.com/c/Shopify-Discussion/Results-per-page-User-selected/td-p/42782
          https://sumankc.com/2018/07/06/show-per-page-dropdown-shopify-product-listing/
          {%- endcomment -%}

          {% assign url = content_for_header | json | split: '\"pageurl\":' | last | split: ',' | first %}
          {% assign url = url | replace: '\', '' | replace: '"', '' %}
          {% assign question = url | split: "?" %}
          {% assign pagination_split = url | split: "pagination=" %}
          {% assign limit = pagination_split | last | split: '\"' | first | split: "\\u0026" | first | plus: 0 %}
          {% assign pagination = limit %}

          {% if limit <= 0 or limit > collection.all_products_count %}
            {% assign limit = collection.all_products_count %}
          {% endif %}

          {% paginate collection.products by limit %}
            <div class="row gallery__row">
              {% for product in collection.products %}
                {% render 'gallery-card', product: product %}
              {% endfor %}
            </div>
            {% if paginate.next.is_link or paginate.previous.is_link %}
              {% if question.size > 1 %}
                {% assign link = "&pagination=" %}
              {% else %}
                {% assign link = "?pagination=" %}
              {% endif %}
              {% assign link = link | append: limit %}
              {% render 'pagination', paginate: paginate, link: link %}
            {% endif %}
          {% endpaginate %}            
        {% assign link = sort_by | append: "&pagination=" %}

        <div class="pt-5 d-flex align-items-center justify-content-center">
          <select class="" id="pagination" name="pagination">
            {% assign counts = "5,10,25,50,ALL" | split: "," %}
            {% assign selected = false %}
            {% for count in counts %}
             {% assign option = link | append: count %}
             {% assign test = count | plus: 0 %}
              <option value="{{ option }}" {% if test == pagination %}selected{% assign selected = true %}{% elsif count == "ALL" and selected == false %}selected
                {% endif %}>{{ count }}</option>
            {% endfor %}
          </select>
          <span class="ml-2">results per page</span>
        </div>

        </div>
      </div>
      {%- comment -%}
        CAROUSEL
      {%- endcomment -%}
    </div>
  </div>
</section>
