<section id="collections" class="collections">
  <div class="container-fluid collections__container">
    {% render 'breadcrumbs' %}
    <div class="container-fluid container-fluid--collections collections__modal" id="collections__modal">
      {%- comment -%}
        MODAL FILTER
      {%- endcomment -%}
      <i class="fa fa-times-circle collections__modal-close" id="collections__modal-close" aria-hidden="true"></i>
      {% render 'gallery-filter' %}
    </div>
    <div class="collections__top">
      <h1 class="collections__header">{{ collection.title }}</h1>
      <p class="collections__description">{{ collection.description }}</p>
      <p class="collections__read-more">Read more</p>
      <!-- <p class="res text-center">Words To Test</p> -->
    </div>
    <div class="row">
      {% assign url = content_for_header | json | split: '\"pageurl\":' | last | split: ',' | first %}
      {% assign url = url | replace: '\', '' | replace: '"', '' %}
      {% assign question = url | split: "?" %}
      {% assign pagination_split = url | split: "pagination=" %}
      {% assign limit = pagination_split | last | split: '\"' | first | split: "?" | first | plus: 0 %}
      {% assign sort_by = url | split: 'sort_by='  %}
      {% if sort_by.size > 1 %}
        {% assign sort_by = sort_by | last | split: "?" | first %}
      {% else %}
        {% assign sort_by = "manual" %}  
      {% endif %}

      {% if limit <= 0 or limit > collection.all_products_count %}
        {% assign limit = collection.all_products_count %}
      {% endif %}

      {%- comment -%}
        FILTER
      {%- endcomment -%}
      <div class="d-none d-md-block col-md-3">
        <div class="container">
          {% assign link = "?sort_by=" | append: sort_by | append: "?pagination=" | append: limit %}
          {% render 'gallery-filter', link: link %}
        </div>
      </div>

      {%- comment -%}
        GALLERY
      {%- endcomment -%}
      <div class="col-12 col-md-9 gallery">
        <div class="container">
          <div class="row gallery__sorting">
            <div class="gallery__sorting-found col-12 col-md-6 order-1 order-md-0">{{ collection.products_count }} {{ collection.products_count | pluralize: 'result', 'results' }}</div>
            <div class="gallery__sorting-options sorting-options col-12 col-md-6 order-0 order-md-1">
              <div class="row sorting-options__row">
                <div class="col-6 col-md-0 col-lg-4 col-xl-6">
                  <div class="gallery__filter" id="gallery__filter">
                    <span class="gallery__filter-text">FILTER</span>
                    <i class="gallery__filter-icon fa fa-sliders" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-lg-8 col-xl-6 gallery__dropdown-container">
                  <select class="gallery__dropdown" id="gallery__dropdown" name="sort_by">
                    {% for option in collection.sort_options %}
                      <option value="?sort_by={{ option.value }}?pagination={{ limit }}" {% if option.value == sort_by %}selected{% endif %}>{{ option.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
      
          {%- comment -%}
          https://community.shopify.com/c/Shopify-Discussion/Results-per-page-User-selected/td-p/42782
          https://sumankc.com/2018/07/06/show-per-page-dropdown-shopify-product-listing/
          {%- endcomment -%}

          {% if sort_by == "title-ascending" %}
            {% assign products = collection.products | sort: 'title' %}
          {% elsif sort_by == "title-descending" %}
            {% assign products = collection.products | sort: 'title' | reverse %}
          {% elsif sort_by == "price-ascending" %}
            {% assign products = collection.products | sort: 'price' %}
          {% elsif sort_by == "price-descending" %}
            {% assign products = collection.products | sort: 'price' | reverse %}
          {% elsif sort_by == "created-ascending" %}
            {% assign products = collection.products | sort: 'created_at' %}
          {% elsif sort_by == "created-descending" %}
            {% assign products = collection.products | sort: 'created_at' | reverse %}
          {% else %}
            {% assign products = collection.products %}
          {% endif %}


          {% paginate collection.products by limit %}            
            <div class="row gallery__row">
              {% for product in products offset:paginate.current_offset limit:paginate.page_size %}
              <div class="col-6 col-md-6 col-lg-4 col-xl-3 gallery__column">
                {% render 'gallery-card', product: product %}
              </div>
              {% endfor %}
            </div>
            {% if paginate.next.is_link or paginate.previous.is_link %}
              {% render 'pagination', paginate: paginate %}
            {% endif %}
          {% endpaginate %}
          
        {% assign link = "?sort_by=" | append: sort_by | append: "?pagination=" %}
        <div class="pt-5 d-flex align-items-center justify-content-center">
          <select class="" id="pagination" name="pagination">
            {% assign counts = "5,10,25,50,ALL" | split: "," %}
            {% assign selected = false %}
            {% for count in counts %}
             {% assign option = link | append: count %}
             {% assign test = count | plus: 0 %}
              <option value="{{ option }}" {% if test == limit %}selected{% assign selected = true %}{% elsif count == "ALL" and selected == false %}selected
                {% endif %}>{{ count }}</option>
            {% endfor %}
          </select>
          <span class="ml-2">results per page</span>
        </div>

        </div>
      </div>
    </div>
        
    {%- comment -%}
      CAROUSEL
    {%- endcomment -%}    
    {% render 'gallery-carousel', collection: collections[section.settings.collection] %}
  </div>
</section>

{% schema %}
{
  "name": "Gallery Carousel",
  "class": "collection",
  "settings": [
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
