<section id="collections" class="collections">
  <div class="container-fluid collections__container">
    {% render 'breadcrumbs' %}
    <div class="container-fluid container-fluid--collections collections__modal" id="collections__modal">
      {%- comment -%}
        MODAL FILTER
      {%- endcomment -%}
      <i class="fa fa-times-circle collections__modal-close" id="collections__modal-close" aria-hidden="true"></i>
      {% render 'gallery-filter' %}
    </div>
    <div class="collections__top">
      <h1 class="collections__header">{{ collection.title }}</h1>
      <p class="collections__description">{{ collection.description }}</p>
      <p class="collections__read-more">Read more</p>
      <p class="res text-center">Words To Test</p>
    </div>
    <div class="row">
      {%- comment -%}
        FILTER
      {%- endcomment -%}
      <div class="d-none d-md-block col-md-3">
        <div class="container">
          {% render 'gallery-filter' %}
        </div>
      </div>
      {%- comment -%}
        GALLERY
      {%- endcomment -%}
      <div class="col-12 col-md-9 gallery">
        <div class="container">
          <div class="row gallery__sorting">
            <div class="gallery__sorting-found col-12 col-md-6 order-1 order-md-0">{{ collection.products_count }} {{ collection.products_count | pluralize: 'result', 'results' }}</div>
            <div class="gallery__sorting-options sorting-options col-12 col-md-6 order-0 order-md-1">
              <div class="row sorting-options__row">
                <div class="col-6 col-md-0 col-lg-4 col-xl-6">
                  <div class="gallery__filter" id="gallery__filter">
                    <span class="gallery__filter-text">FILTER</span>
                    <i class="gallery__filter-icon fa fa-sliders" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-lg-8 col-xl-6 gallery__dropdown-container">
                  <select class="gallery__dropdown" id="gallery__dropdown" name="sort_by">
                    {% for option in collection.sort_options %}
                      <option value="{{ page.url }}?sort_by={{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row gallery__row">
            {% render 'gallery' %}
          </div>
        </div>
      </div>
      {%- comment -%}
        CAROUSEL
      {%- endcomment -%}
    </div>
  </div>
</section>
