<style>
	.footer-wrapper{
		background: {{ section.settings.color_footer_bg }}
	}

	.footer__menu__header{
		color: {{ section.settings.color_footer_menu_title }}
	}

	.footer__menu__link__item a{
		color: {{ section.settings.color_footer_menu_links }}
	}

	.footer__menu__link__item a:hover{
		color: {{ section.settings.color_footer_menu_links_hover }}
	}

	.footer__newsletter__info{
		color: {{ section.settings.color_footer_text }}
	}

	.newsletter-btn{
		background: {{ section.settings.color_footer_bg_button }};
		color: {{ section.settings.color_footer_button_text }}
	}

	.newsletter-btn:hover{
		background: {{ section.settings.color_footer_bg_button_hover }};
	}

	.footer__signup{
		color: {{ section.settings.color_footer_text }}
	}

	.footer__social__item{
		color: {{ section.settings.color_footer_social_icons }}
	}

	hr{
		color: {{ section.settings.color_footer_text }}
	}

	.footer__copyright{
		color: {{ section.settings.color_footer_text }}
	}

	.payment__item{
		color: {{ section.settings.color_footer_payment }}
	}
</style>

<div class='footer-wrapper'>
	<div class="container footer-container">
		<div class="row footer__content">
			<div class="col-6 col-sm-4 col-xl-3 footer__menu">
				<div class="footer__menu__header">NOVA</div>
				<ul class="footer__menu__links">
					<li class="footer__menu__link__item">
						<a href="#">about us</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="/blog">blog</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">wanna collab?</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">affiliate</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">careers</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">privacy policy</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">terms and conditions</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-sm-4 col-xl-3 footer__menu">
				<div class="footer__menu__header">Account</div>
				<ul class="footer__menu__links">
					<li class="footer__menu__link__item">
						<a href="#">my account</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">my wishlist</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">view bag</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">track order</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">order history</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">gift cards</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-sm-4 col-xl-3 footer__menu">
				<div class="footer__menu__header">Customer Service</div>
				<ul class="footer__menu__links">
					<li class="footer__menu__link__item">
						<a href="/contactus">contact us</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">shipping</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">returns</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">size guide</a>
					</li>
					<li class="footer__menu__link__item">
						<a href="#">sitemap</a>
					</li>
				</ul>
			</div>

			<div class="col-12 col-sm-12 col-xl-3 footer__menu">
				<div class="footer__menu__header">Newsletter</div>
				<div class="row footer__newsletter__info">
					Signup to our newsletter to receives updates and promotions.
				</div>
				<div class="row footer__signup">
					<form class="form-inline">
						<input class="form-control newsletter-input" type="search" placeholder="Enter email" aria-label="Search"/>
						<button class="btn newsletter-btn" type="submit">Go</button>
						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1" />
							<label class="form-check-label" htmlFor="exampleCheck1">I have read and agree to the Privacy Policy</label>
						</div>
					</form>
				</div>
				<div class="row footer__socials">
					<div class="footer__social__item" id="instagram-logo"> <i class="fa fa-instagram" aria-hidden="true"></i> </div>						
					<div class="footer__social__item" id="pinterest-logo"> <i class="fa fa-pinterest" aria-hidden="true"></i> </div>
					<div class="footer__social__item" id="snapchat-logo"> <i class="fa fa-snapchat-ghost" aria-hidden="true"></i> </div>
					<div class="footer__social__item" id="facebook-logo"> <i class="fa fa-facebook" aria-hidden="true"></i> </div>
				</div>
			</div>
		</div>
		<hr></hr>
		<div class="row footer__bottom">
			<div class="col-8 footer__copyright">
				Copyright &#169; 2021. Nova. All Rights Reserved
			</div>
			<div class="col-4 footer__payments">
				<ul class="payments__list">
					<li class="payment__item"> <i class="fa fa-cc-stripe" aria-hidden="true"></i> </li>
					<li class="payment__item"> <i class="fa fa-cc-visa" aria-hidden="true"></i> </li>
					<li class="payment__item"> <i class="fa fa-cc-mastercard" aria-hidden="true"></i> </li>
					<li class="payment__item"> <i class="fa fa-cc-paypal" aria-hidden="true"></i> </li>
					<li class="payment__item"> <i class="fa fa-cc-discover" aria-hidden="true"></i> </li>
				</ul>
			</div>
		</div>
	</div>
</div>



{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "da": "Farve",
        "de": "Farbe",
        "en": "Color",
        "es": "Color",
        "fi": "Väri",
        "fr": "Couleur",
        "hi": "रंग",
        "it": "Colore",
        "ja": "色",
        "ko": "색상",
        "nb": "Farge",
        "nl": "Kleur",
        "pt-BR": "Cor",
        "pt-PT": "Cor",
        "sv": "Färg",
        "th": "สี",
        "zh-CN": "颜色",
        "zh-TW": "顏色"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": "Footer Background",
      "default": "#3b3b3b"
    },
    {
      "type": "color",
      "id": "color_footer_menu_title",
      "label": "Footer Menu Title",
      "default": "#ffffff"
    },
	{
      "type": "color",
      "id": "color_footer_menu_links",
      "label": "Footer Menu Links",
      "default": "#ffffff"
    },
	{
      "type": "color",
      "id": "color_footer_menu_links_hover",
      "label": "Footer Menu Links Hover",
      "default": "rgb(141, 141, 141)"
    },
	{
      "type": "color",
      "id": "color_footer_text",
      "label": "Footer Text",
      "default": "#ffffff"
    },
	{
      "type": "color",
      "id": "color_footer_bg_button",
      "label": "Footer Button Background",
      "default": "#2580BE"
    },
	{
      "type": "color",
      "id": "color_footer_bg_button_hover",
      "label": "Footer Button Background Hover",
      "default": "#1A689C"
    },
	{
      "type": "color",
      "id": "color_footer_button_text",
      "label": "Footer Button Text",
      "default": "#ffffff"
    },
	{
      "type": "color",
      "id": "color_footer_social_icons",
      "label": "Footer Social Media Icons",
      "default": "#ffffff"
    },
	{
      "type": "color",
      "id": "color_footer_payment",
      "label": "Footer Payment Icons",
      "default": "#adadad"
    }
  ],
  	"blocks": [
    {
      "type": "link_list",
      "name": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Hurtige links",
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fi": "Pikalinkit",
            "fr": "Liens rapides",
            "hi": "त्वरित लिंक",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "ko": "빠른 링크",
            "nb": "Hurtigkoblinger",
            "nl": "Snelle links",
            "pt-BR": "Links rápidos",
            "pt-PT": "Ligações rápidas",
            "sv": "Snabblänkar",
            "th": "ลิงก์ด่วน",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "hi": "मेनू",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Fortæl om din virksomhed",
            "de": "Reden Sie über Ihr Unternehmen",
            "en": "Talk about your business",
            "es": "Habla sobre tu negocio",
            "fi": "Kerro yrityksestäsi",
            "fr": "Parlez de votre entreprise",
            "hi": "अपने व्यवसाय के बारे में बात करें",
            "it": "Parla della tua attività commerciale",
            "ja": "あなたのビジネスについて語る",
            "ko": "비즈니스에 대한 이야기하기",
            "nb": "Snakk om bedriften din",
            "nl": "Vertel over je bedrijf",
            "pt-BR": "Fale sobre o seu negócio",
            "pt-PT": "Fale sobre o seu negócio",
            "sv": "Prata om ditt företag",
            "th": "พูดถึงธุรกิจของคุณ",
            "zh-CN": "介绍您的业务",
            "zh-TW": "描述您的商家"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "da": "<p>Del butiksoplysninger, reklamer eller brandindhold med dine kunder.</p>",
            "de": "<p>Teilen Sie Ihre Shop-Details, Werbeaktionen oder Markeninhalte mit Ihren Kunden.</p>",
            "en": "<p>Share store details, promotions, or brand content with your customers.</p>",
            "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
            "fi": "<p>Jaa myymälän tiedot, tarjoukset tai brändin sisältö asiakkaittesi kanssa.</p>",
            "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients.</p>",
            "hi": "<p>अपने ग्राहकों के साथ स्टोर विवरण, प्रचार या ब्रांड सामग्री साझा करें.</p>",
            "it": "<p>Condividi dettagli del negozio, promozioni o contenuti del brand con i clienti.</p>",
            "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する。</p>",
            "ko": "<p>스토어 세부 정보, 프로모션 또는 브랜드 콘텐츠를 고객과 공유하십시오.</p>",
            "nb": "<p>Del butikkdetaljer, kampanjer eller merkevareinnhold med kundene dine.</p>",
            "nl": "<p>Deel winkeldetails, promoties of merkcontent met je klanten.</p>",
            "pt-BR": "<p>Compartilhe informações da loja, promoções ou conteúdo da marca com seus clientes.</p>",
            "pt-PT": "<p>Partilhe detalhes da loja, promoções ou conteúdo de marca com os seus clientes.</p>",
            "sv": "<p>Dela butikens detaljer, kampanjer eller varumärkesinnehåll med dina kunder.</p>",
            "th": "<p>แชร์รายละเอียดร้านค้า โปรโมชัน หรือเนื้อหาแบรนด์กับลูกค้าของคุณ</p>",
            "zh-CN": "<p>与您的客户共享商店详细信息、促销信息或品牌内容。</p>",
            "zh-TW": "<p>與顧客分享商店的詳細資訊、宣傳活動或品牌內容。</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "da": "Tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fi": "Uutiskirjeen tilaus",
        "fr": "Inscription",
        "hi": "न्यूज़लेटर साइनअप",
        "it": "Iscriviti alla Newsletter",
        "ja": "ニュースレターの登録",
        "ko": "뉴스레터 신청",
        "nb": "Registrering for nyhetsbrev",
        "nl": "Nieuwsbriefaanmelding",
        "pt-BR": "Assinatura da newsletter",
        "pt-PT": "Registo na newsletter",
        "sv": "Nyhetsbrevsregistrering",
        "th": "การสมัครรับจดหมายข่าว",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "info": {
            "da": "Abonnenter bliver føjet til [kundelisten](/admin/customers?query=&accepts_marketing=1) for \"accepterer markedsføring\".",
            "de": "Abonnenten werden zu Ihrer Liste „akzeptiert Marketingmaterial“ hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu [lista de clientes.](/admin/customers?query=&accepts_marketing=1) \"acepta marketing\".",
            "fi": "Tilaajat lisätään \"hyväksyy markkinointi\" [-asiakasluetteloosi. ](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing ».",
            "hi": "सदस्यों को आपकी “मार्केटिंग स्वीकार करता है” [customer list.](/admin/customers?query=&accepts_marketing=1) में जोड़ दिया जाएगा",
            "it": "Gli iscritti verranno aggiunti al tuo [elenco clienti.](/admin/customers?query=&accepts_marketing=1) «accetta marketing»",
            "ja": "購読者は「マーケティングを受け入れる」[顧客リスト](/admin/customers?query=&accepts_marketing=1) に追加されます。",
            "ko": "가입자가 \"마케팅 수락\" [고객 목록.](/admin/customers?query=&accepts_marketing=1)에 추가됩니다.",
            "nb": "Abonnenter vil bli lagt til i «aksepterer markedsføring» [kundeliste.](/admin/customers?query=&accepts_marketing=1)",
            "nl": "Abonnees worden toegevoegd aan je \"accepteert marketing\" [klantenlijst.](/admin/customers?query=&accepts_marketing=1)",
            "pt-BR": "Os assinantes serão adicionados à “aceita marketing” [lista de clientes. ](/admin/customers?query=&accepts_marketing=1)",
            "pt-PT": "Os subscritores serão adicionados à sua lista de \"aceitam marketing\" [lista de clientes.](/admin/customers?query=&accepts_marketing=1)",
            "sv": "Prenumeranter läggs till i din \"accepterar marknadsföring\" [kundlista. ](/admin/customers?query=&accepts_marketing=1)",
            "th": "ระบบจะเพิ่มผู้สมัครใช้งานไปยังส่วน “ยอมรับการตลาด” ของคุณ [รายชื่อลูกค้า](/admin/customers?query=&accepts_marketing=1)",
            "zh-CN": "订阅者将被添加到您的“接受营销”[客户列表](/admin/customers?query=&accepts_marketing=1)中。",
            "zh-TW": "系統會將訂閱者新增至您的「接受行銷」[客戶清單。](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "da": "Nyhedsbrev",
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fi": "Uutiskirje",
            "fr": "Newsletter",
            "hi": "न्यूज़लेटर",
            "it": "Newsletter",
            "ja": "ニュースレター",
            "ko": "뉴스레터",
            "nb": "Nyhetsbrev",
            "nl": "Nieuwsbrief",
            "pt-BR": "Newsletter",
            "pt-PT": "Newsletter",
            "sv": "Nyhetsbrev",
            "th": "จดหมายข่าว",
            "zh-CN": "新闻通讯",
            "zh-TW": "電子報"
          }
        }
      ]
    }
  ]
}
{% endschema %}
