

   {%- assign current_variant = product.selected_or_first_available_variant -%}
   {%- assign product_image_zoom_size = '1024x1024' -%}
   {%- assign product_image_scale = '2' -%}
   {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
   {%- assign compare_at_11 = current_variant.compare_at_price -%}
   {%- assign price = current_variant.price -%}

     <div class="product container">
       <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img id="img01" />
       </div>

       <div class="product__row row ">
        <div class="col-sm-12 col-md-6 product__left-column">
          <div class="main-img">
            <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="jeans" id="myImg" />
          </div>
          <div class="grid-img">
            {% for media in product.media %}
            <img src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="jeans" id="myImg2" />
            {%endfor%}
          
          
          </div>
        </div>
        <div class="col-sm-12 col-md-6 product__right-column">
          <h1 class="title">{{ product.title }}</h1>
          <h1 class="price"> {% include 'product-price', variant: current_variant %}</h1>
         
          <div class="description">
            <span>{{ product.description }}</span>
           
          </div>
          <hr />
          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            {% unless product.has_only_default_variant %}
              <div class="product-form__controls-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }} 
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__controls-group">
                <div class="product-form__item">
                  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*"
                    class="product-form__input product-form__input--quantity" data-quantity-input
                  >
                </div>
              </div>
            {% endif %}

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>

            <div class="product-form__controls-group product-form__controls-group--submit">
              <div class="product-form__item product-form__item--submit "
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
              >
                <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}
       <!--  {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
          <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}"
                {%- if variant == current_variant %} selected="selected" {%- endif -%}
              >
                {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
              </option>
            {% endfor %}
          </select>
          <div class="pant-waist">
            <p>Select Size</p>
            {% for size_option in product.options_by_name['Size'].values %}
            <span value="{{ variant.id }}">
              {{ size_option}}  
            </span>
            {% endfor %}
           
          </div>
         
          <div class="color">
            <p >color</p>
            <select>
            {% for color_option in product.options_by_name['Color'].values %}
            
                <option>{{ color_option }}</option>
          
             {% endfor %}
            </select>
          </div>
         
          {% if section.settings.show_quantity_selector %}
          <div class="product-form__controls-group">
            <div class="product-form__item">
              <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity-{{ section.id }}"
                name="quantity" value="1" min="1" pattern="[0-9]*"
                class="product-form__input product-form__input--quantity" data-quantity-input
              >
            </div>
          </div>
        {% endif %}
          <hr />
          <div class="product-form__controls-group product-form__controls-group--submit">
            <div class="product-form__item product-form__item--submit buttons
              {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
              {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
            >
              <button type="submit" name="add"
                {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"
                data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
                <span class="hide" data-loader>
                  {% include 'icon-spinner' %}
                </span>
              </button>
              {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
              {% endif %}
            </div>
          </div>
         
        </div>
        {% endform %} -->
      </div>

    <div class="outfit-wrapper">
      <div class="c-outfit container">
        <h2>Complete the outfit:</h2>
        <div class="c-outfit__row row">
          <div class="col-sm-12 col-md-12 c-outfit__cards">
            <div class="card-">
              <img src="{{ 'extra4.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Freedom T-Shirt</span>
              <span class="price">$38.52</span>
            </div>
            <div class="card-">
              <img src="{{ 'extra1.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Stretch Eco Blue Jeans</span>
              <span class="price">$38.52</span>
            </div>
            <div class="card-">
              <img src="{{ 'extra2.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Stretch Eco Blue Jeans</span>
              <span class="price">$38.52</span>
            </div>
            <div class="card-">
              <img src="{{ 'extra3.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Stretch Eco Blue Jeans</span>
              <span class="price">$38.52</span>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="outfit-wrapper">
        <div class="c-outfit container">
        <h2>Others also bought</h2>
        <div class="c-outfit__row row">
          <div class="col-sm-12 col-md-12 c-outfit__cards">
            <div class="card-">
              <img src="{{ 'extra5.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Freedom T-Shirt</span>
              <span class="price">$38.52</span>
            </div>
            <div class="card-">
              <img src="{{ 'extra6.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Stretch Eco Blue Jeans</span>
              <span class="price">$38.52</span>
            </div>
            <div class="card-">
              <img src="{{ 'extra7.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Stretch Eco Blue Jeans</span>
              <span class="price">$38.52</span>
            </div>
            <div class="card-">
              <img src="{{ 'extra8.jpg' | asset_img_url: '1024x768' }}" alt="complete outfit" />
              <span class="title">Stretch Eco Blue Jeans</span>
              <span class="price">$38.52</span>
            </div>
          </div>
        </div>
        </div>
    </div>

<!--       {%- if section.settings.show_product_recommendations -%}
  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
      <div class="product-recommendations__inner">
        {%- if section.settings.heading != blank -%}
          <div class="section-header text-center">
            <h2>{{ section.settings.heading | escape }}</h2>
          </div>
        {%- endif -%}
        <ul class="grid grid--uniform grid--view-items">
          {%- for product in recommendations.products -%}
            <li class="grid__item small--one-half medium-up--one-quarter">
              {% include 'product-card-grid', max_height: 250, product: product, show_vendor: section.settings.show_vendor %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  {%- else  -%}
    <div class="page-width" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
  {%- endif -%}
{%- endif -%}
    
 -->

  

 